$colour-white: #FFFFFF;
$colour-orange: #F8981D;
$colour-light-grey: #EBEEEE;
$colour-medium-grey: #90999C;
$colour-dark-grey: #314249;
$colour-pink: #F16183;
$colour-peach: #FE9F82;
$colour-yellow: #EACD86;
$colour-green: #5ED789;
$colour-turquoise: #6AD8CB;
$colour-blue: #3870AD;
$colour-purple: #9377DF;
$colour-warm-grey: #898681;
