/* Header */
/* =========================================================================*/
.header {
    background-color: #F8981D;
    color: #ffffff;
    padding: 1em 0;
}
.header__logo {
    width: 100px;
}
