/* Header */
/* =========================================================================*/
.header {
    background-color: $colour-orange;
    color: $colour-white;
    padding: 1em 0;
}
.header__logo {
    width: 100px;
}
