/* Team */
/* =========================================================================*/
.team {
    padding: 5em 0;
}
.team--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.member {
    display: flex;
    flex-direction: column;
    width: 8em;
    margin: 0 3%;
    padding-bottom: 2em;
    @media screen and (min-width: $break-medium) {
      width: 10em;
    }
}
.member__name {
    font-size: 1em;
    margin-bottom: 0.2em;
    order: 2;
}
.member__photo {
    border-radius: 100%;
    order: 1;
}
.member__role {
    font-size: 0.9em;
    margin: 0;
    order: 3;
}
.member__location {
    font-size: 0.9em;
    margin: 0;
    order: 4;
}
