/* Typography */
/* =========================================================================*/
body {
    color: $colour-dark-grey;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.heading--xlarge {
    font-weight: 300;
    @media screen and (min-width: $break-small) {
      font-size: 3em;
    }
    @media screen and (min-width: $break-medium) {
      font-size: 4em;
    }
}
ul {
    margin: 0;
    padding-left: 0;
}
li {
    list-style: none;
}
