/* Typography */
/* =========================================================================*/
body {
    color: $colour-dark-grey;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.heading--xlarge {
    font-size: 3em;
    font-weight: 300;
}
ul {
    margin: 0;
    padding-left: 0;
}
li {
    list-style: none;
}
